* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}


/* Header banner style */
.header {
    height: 10%; /* Adjusted height to a percentage */
    background: linear-gradient(to right, #FF69B4, #B18FCF); /* Pink to violet gradient */
    position: relative;
    color: white;
}

/* Container for title and search bar */
.header__title-search {
    display: flex;
    align-items: center;   
    justify-content: center; 
    position: relative;     
}

/* Center the title */
.header__title-search h1 {
    margin: 0 2%; /* Adjusted to percentage */
    font-size: 3vw; /* Changed to viewport width */
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    letter-spacing: 2px; 
}

/* Style for the search bar */
.header__search-bar {
    position: absolute;  
    right: 5%; /* Adjusted to percentage */
}

.header__search-bar input {
    padding: 2%; /* Adjusted to percentage */
    font-family: 'Poppins';
    font-size: 0.80vw; /* Changed to viewport width */
    border-radius: 10px; 
    border: 1px solid #ccc; 
}

/* Navbar spaced */
.navbar {
    height: 5%; /* Adjusted height to a percentage */
    margin: 0.5% 0; /* Adjusted to percentage */
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 5%; /* Adjusted to percentage */
}

/* Styling for navbar links */
.navbar__link {
    text-decoration: none; 
    color: #551470; 
    padding: 0 2%; /* Adjusted to percentage */
    font-size: 0.9vw; /* Changed to viewport width */
    font-family: 'Poppins', sans-serif;
    line-height: 5%; /* Adjusted to percentage */
    transition: background-color 0.3s ease;
}

/* Remove any margin */
.navbar__link {
    margin: 0; 
}

/* Hover effect */
.navbar__link:hover {
    color: #978897; 
    background-color: transparent; 
}

/* Dropdown container */
.navbar__dropdown {
    position: relative; 
}

/* Dropdown content */
.navbar__dropdown--content {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1.5vw; /* Space between items */
    display: none; 
    position: absolute;
    min-width: 25vw; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    background: linear-gradient(to left, #FF69B4, #B18FCF);
    padding: 1vw; /* Padding around the dropdown */
    border-radius: 0.5vw; 
}

.navbar__dropdown--content a {
    color: #FFFFFF; /* White color for dropdown links */
}

/* Show dropdown on hover */
.navbar__dropdown:hover .navbar__dropdown--content {
    display: grid; 
}

/* Style for dropdown links */
.navbar__dropdown--link {
    color: white; 
    padding: 15px; /* Increased padding for more space */
    text-decoration: none; 
    display: block; 
    text-align: center; /* Center the text */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Change background color on hover */
.navbar__dropdown-link:hover {
    background-color: linear-gradient(to right, #FF69B4, #B18FCF); /* Semi-transparent white */
}

/* Adjusting the navbar links on hover */
.navbar__link:hover {
    background-color: transparent; 
}

/* Content area styling */
.content {
    background-color: #020202;;
    background-size: cover;
    background-position: center;
    padding: 8vw; 
    text-align: justify; 
    color: white; 
    font-size: 2.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    min-height: 100vh; /* Set minimum height to fill the viewport */
    font-family: 'League Spartan', sans-serif; 
}

.content__link {
    color: white; /* Change the color to match your theme */
    text-decoration: none; /* Remove underline */
}

.content__link:hover {
    text-decoration: underline; /* Add underline on hover for effect */
}

/* Separator styling */
.separator {
    width: 100%; 
    height: 0.1vw; 
    background-color: white; 
    border-radius: 20px; 
    margin: 20px auto; 
    position: relative; 
}

/* Adding circles at both ends */
.separator::before,
.separator::after {
    content: '';
    position: absolute;
    width: 0.5vw; 
    height: 0.5vw; 
    background-color: white; 
    border-radius: 50%; 
    top: -0.2vw; 
}

.separator::before {
    left: -0.2vw; 
}

.separator::after {
    right: -0.2vw; 
}

/* Table styling */
.table__container {
    width: 100%; 
    margin: 2vw auto; /* Center the table */
    padding: 2vw; /* Space around the table */
    background-color: linear-gradient(to right, #FF69B4, #B18FCF); 
    border-radius: 1vw; /* Rounded corners for the container */
    font-family: 'Poppins';
}

/* Table styling */
.table {
    padding-top: 2vw;
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 0 0.25vw; 
    margin-top: 2vw; 
    background-color: transparent; 
    color: white; 
    font-size: 1.5vw;
}

/* Header row styling */
.table__header {
    background-color: #cf8fb4; 
    padding: 0.75vw;
    padding-left: 1vw;
    border: none; 
}

/* Rounded corners for header cells */
.table__header:first-child {
    border-radius: 1vw 0 0 1vw; 
}

.table__header:last-child {
    border-radius: 0 1vw 1vw 0; 
}

/* Table row styling */
.table__row {
    background-color: transparent; 
}

/* Apply background and rounded corners to each table cell */
.table__cell {
    background-color: #cf8fb4; 
    color: #ffffff;
    padding: 0.5vw; 
    border: none; 
}

/* Adjust padding for song title cells */
.table__cell--song-title { 
    padding-left: 0px; 
}

/* Adjust padding for song artist cells */
.table__cell--song-artist { 
    padding-right: 0px; 
}

/* Apply rounded corners to the first and last cells of each row */
.table__row .table__cell:first-child {
    border-radius: 1vw 0 0 1vw; 
}

.table__row .table__cell:last-child {
    border-radius: 0 1vw 1vw 0; 
}

.thumbnail {
    width: 5vw; 
    height: 5vw; 
    object-fit: cover; 
    border-radius: 1vw; 
}

/***************************************************************************/

/* Style for lyrics specifically */
.song {
    background-color: #020202;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
}

/* Song container */
.song__container {
    display: flex;
    align-items: center; 
    gap: 2%; /* Adjusted to percentage */
    padding-top: 5%; /* Adjusted to percentage */
    padding-left: 10%; /* Adjusted to percentage */
}

/* Thumbnail size */
.song__thumbnail {
    width: 5vw; /* Changed to viewport width */
    height: 5vw; /* Changed to viewport width */
    object-fit: cover; 
    border-radius: 10px; 
    border: 2px solid white; /* Added white border */
}

/* Song details (title and singer) */
.song__details {
    display: flex;
    flex-direction: column;
}

.song__details .song__title {
    padding-top: 2vw;
    font-size: 2vw; /* Changed to viewport width */
    font-family: 'Inter', sans-serif; 
    font-weight: 900;
    color: #B18FCF; 
    margin: 0;
}

.song__details .song__singer {
    font-size: 1vw; /* Changed to viewport width */
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
    color: #ffffff; 
}

.song__genres {
    margin-top: 0.5vw; /* Adds some space between the singer's name and the genres */
}

.song__genre {
    display: inline-block;
    color: #020202;
    margin-left: 0;
    background-color: #f0f0f0; /* Example styling */
    padding: 3px 8px;
    border-radius: 1vw;
    font-size: 0.75vw; /* Changed to viewport width */
    font-family: 'Inter', sans-serif; 
    text-decoration: none; /* Remove underline from links */

}

.song__genre:hover {
    background-color: #ddd; /* Change background color on hover */
}

/* Lyrics area styling */
.lyrics {
    padding: 0%; /* Adjusted to percentage */
    padding-top: 1vw;
    color: #ffffff; /* Color for translation */
    font-size: 1vw; /* Changed to viewport width */
    font-family: 'Inter', sans-serif; /* Inter font */
    text-align: justify; /* Justify the text */
    white-space: pre-wrap;
    padding-left: 12.3%; /* Adjusted to percentage */
}

.video__container {
    position: fixed; /* Keep fixed position */
    top: 300px; /* Fixed top position */
    left: 75%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    width: 100%; /* Full width */
    max-width: 600px; /* Limit to a max width */
    overflow: hidden; /* Hide overflow */
    z-index: 100; /* Ensure it's on top of other content */
    border: 5px solid white; /* White border */
    border-radius: 15px; /* Rounded corners */
    padding: 5px; /* Optional: space between border and iframe */
    background-color: rgba(255, 255, 255, 0.5); /* Optional: background color for better visibility */
}

/* Iframe styling */
.video__container iframe {
    width: 100%; /* Full width */
    height: auto; /* Automatic height */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    border: none; /* Remove default border */
}

@media (max-width: 768px) {
    .video__container {
        top: 150px; /* Adjust top position for smaller screens */
        max-width: 50%; /* Allow more width on smaller screens */
    }
}

@media (max-width: 480px) {
    .video__container {
        top: 150px; /* Further adjust top position for very small screens */
        max-width: 50%; /* Full width on very small screens */
    }
}

.songlist {
    list-style: none; /* Remove default bullet points */
    font-family: 'Inter', sans-serif; /* Inter font */
    font-size: 2vw;

}

/* Element styles for each list item */
.songlist__item {
    margin: 10px 0; /* Add vertical spacing between items */
}

/* Element styles for the anchor links */
.songlist__link {
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Dark text color */
    padding: 10px; /* Add padding for clickable area */
    display: block; /* Make the link fill the entire list item */
    border-radius: 4px; /* Rounded corners for the link */
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Modifier styles for link hover state */
.songlist__link:hover {
    background-color: #e2e2e2; /* Change to a lighter gray on hover */
}


/* Footer Styles */
.footer {
    background: linear-gradient(to right, #FF69B4, #B18FCF); /* Pink to violet gradient */;
    color: white;
    padding: 0vw 0; /* 20px -> 2vw */
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Inter font */
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw; /* Adjusted to fit viewport width */
    margin: 0 auto;
  }
  
  .footer__section {
    flex: 1;
    padding: 1vw; /* 10px -> 1vw */
  }
  
  .footer__heading {
    font-size: 1vw; /* 24px -> 2.4vw */
    margin-bottom: 1vw; /* 10px -> 1vw */
  }
  
  .footer__heading--brand {
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
    font-size: 1.5vw; /* 28px -> 2.8vw */
    text-align: left;
    padding-left: 8vw;
    padding-bottom: 0vw;
    margin-bottom: 0;
  }
  
  .footer__text {
    font-size: 0.75vw; /* 14px -> 1.4vw */
    margin-top: 0vw; /* 10px -> 1vw */
    margin-bottom: 0;
    color: white;
    text-align: left;
    padding-left: 8vw;
  }
  
  .footer__nav,
  .footer__social {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.75vw; /* 14px -> 1.4vw */
  }
  
  .footer__nav-item,
  .footer__social-item {
    display: inline-block;
    margin: 0 1vw; /* 10px -> 1vw */
    font-size: 0.75vw; /* 14px -> 1.4vw */
  }
  
  .footer__nav-link,
  .footer__social-link {
    color: white;
    text-decoration: none;
    font-size: 0.75vw; /* 14px -> 1.4vw */
  }
  
  .footer__social-link img {
    width: 1.5vw; /* 24px -> 2.4vw */
    height: 1.5vw; /* 24px -> 2.4vw */
    vertical-align: middle;
  }
  